@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --bb: #38bddc;
  --db: #134c67;
  --ddb: #113841;
  --black: #0e0e0e;
  --ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --g: #575757;
  --bblack: #0c1d20;
}
#root {
  text-align: left;
  background: var(--bblack);
  // height: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.leaflet-container {
  background-color: var(--black);
  width: 100%;
}

.faction-icons {
  filter: drop-shadow(0px 0px 4px black);
  transition: all 500ms ease;
}
.faction-icons:hover {
  --color: #009dff;
  scale: 1.01;
}

.faction-icons.seraphine-icon:hover {
  filter: drop-shadow(0px 0px 12px rgb(255, 0, 255, 0.6));
}
.faction-icons.corrupter-icon:hover {
  filter: drop-shadow(0px 0px 12px rgb(195, 0, 255, 0.6));
}
.faction-icons.nakoda-icon:hover {
  filter: drop-shadow(0px 0px 12px rgba(65, 150, 62, 0.6));
}
.faction-icons.ziton-icon:hover {
  filter: drop-shadow(0px 0px 12px rgb(0, 157, 255, 0.6));
}
.faction-icons.ganeden-icon:hover {
  filter: drop-shadow(0px 0px 12px rgb(255, 153, 0, 0.6));
}
.faction-icons.cairon-icon:hover {
  filter: drop-shadow(0px 0px 12px rgba(244, 1, 34, 0.6));
}

.sidebar {
  position: fixed;
  top: 0%;
  left: 0%;
  background: linear-gradient(#0e0e0e, #0c1d20);
  color: white;
  font-size: 2rem;
  width: 35vw;
  height: 100vh;
  padding: 2em;
  z-index: 1000;
  transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &.closed {
    transform: translateX(-53vw);
  }

  @media screen and (max-width: 420px) {
    padding: 1em;
  }
  @media screen and (max-width: 1024px) {
    width: 100vw;
    overflow: scroll;
    &.closed {
      transform: translateX(-100vw);
    }
  }
}

.sidebar h1 {
  font-size: 2.5rem;
  color: var(--bb);
  margin-top: 20px;
  margin-bottom: 0.55em;
  border-bottom: 1px solid var(--db);
  padding-bottom: 0.25em;

  @media screen and (max-width: 500px) {
    font-size: 1.5rem;
  }
}
.sidebar p {
  font-size: 1rem;
  line-height: 1.4;
  @media screen and (max-width: 500px) {
    font-size: 0.9rem;
    font-weight: lighter;
  }
}

#map {
  transition: all 500ms ease;
}
#root:has(.sidebar.open) #map {
  transform: translateX(35vw);
  max-width: 75vw;
}

.poi {
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  white-space: nowrap;
  text-shadow: 0px 0px 4px rgb(10, 10, 20);
}

.btn {
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}
.btn-main {
  background: #0e0e0e;
  color: white;
  border: 2px solid var(--bb);
  padding: 0.25em 1em;
  font-size: 1rem;
  font-weight: 1rem;
  margin: 1em 0;
  font-weight: bolder;
}

.btn-main.btn-audio {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 500;
  width: 50px;
  height: 50px;
  color: var(--bb);
  padding: 0.5em;
  svg {
    width: 100%;
    height: 100%;
  }
}
button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
}

body {
  background: var(--black);
}

.ll-tooltip {
  background: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--bb);
  font-size: 1.2rem;
  border: 2px solid var(--bblack);
}

.leaflet-tooltip {
  background: black !important;
  color: #61dafbaa !important;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid var(--bblack);
}

.btn.credit {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 1.2rem;
  z-index: 500;
  padding: 0.25em 2em;
}
